---
import FooterFinal from '../components/FooterFinal.astro';
import FormSend from '../components/FormSend.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Porfolio Manuel Mendieta Ingeniero de sistemas" description="Ingeniero de sistemas con mas de 10 años de experiencia">
	
 

</Layout>
<div class="col-12"><picture><source srcset="/images/banner_hu5767889388093870374.webp" media="(max-width: 575px)"><source srcset="/images/banner_hu13454120556947067300.webp" media="(max-width: 767px)"><source srcset="/images/banner_hu16092701587328752241.webp" media="(max-width: 991px)"><source srcset="/images/banner_hu13533946027924257200.webp"><img loading="eager" decoding="async" src="/images/banner_hu16949873544788829848.png" class="mx-auto lg:!max-w-[800px] img" alt="Banner image" width="1206" height="553"></picture></div>
<FormSend>
    
</FormSend>
<FooterFinal/>



<script>
    document.addEventListener("DOMContentLoaded", () => {
      const form = document.getElementById("contactForm");
      const button = document.getElementById("BtnSend");
  
      button.addEventListener("click", async () => {
        // Capturar valores de los campos

        const email = (document.getElementById("emailContact") as HTMLInputElement).value;
        const message = (document.getElementById("message") as HTMLInputElement).value;
        const name = (document.getElementById("nameContact") as HTMLInputElement).value;
      
        
  
        // Validar campos requeridos
        if (!name || !email || !message) {
          alert("Por favor completa todos los campos.");
          return;
        }
  
        // Crear objeto JSON
        const payload = {
          name: name,
          email: email,
          message: message,
        };
  
        try {
          // Enviar datos al webhook de n8n
          const response = await fetch("https://port.mimanudev.site/webhook/3eb8746e-a80b-4c2f-9164-479d7f70c92c", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
          });
  
          if (response.ok) {
            alert("Formulario enviado con éxito.");
          } else {
            alert("Hubo un error al enviar el formulario.");
            console.error("Error en la respuesta:", response.status);
          }
        } catch (error) {
          alert("Error al conectar con el servidor.");
          console.error("Error de conexión:", error);
        }
      });
    });
  </script>
